.sidebar{
    border-radius: 0 58px 0 0;
}

.item{
    cursor: pointer;
    padding: 5px;
    margin: 0.5rem 0px;
    color: #fff;
    span{
        margin-left: 10px;
    }
}
.bg-active{
    background-color: rgba(0, 146, 71, 0.1) ;
    border-left: 3px solid #009247;
}
.row >div{
    transition: all 1s;
}
@media (max-width: 768px) {
    .icon-name{
    display: none;
    };
 }

