.login
{
    background-image: linear-gradient(51deg, rgba(55, 140, 47, 0.63) -22.39%, rgba(0, 0, 0, 0.62) 61.76%),
    url(../../../assets/images/login-bg.png.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}