<section class=" d-flex align-items-center justify-content-center">
    <div class="card-auth ">
        <div class="text-center">
            <img class="w-50" src="../../../assets/images/logo.svg">
        </div>
        <h2> Change Your Password</h2>
        <p>Enter your details below</p>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm)">

            <div class="old-pass">
                    <div class="input-group mb-3 position-relative">
                        <span class="input-group-text"><i class="fa-solid fa-lock"></i> </span>
                        <input formControlName="oldPassword" [type]="hide?'password':'text'" class="form-control" placeholder="Old Password" >
                        <span (click)="hide=!hide" class="eye-icon"><i class="fa-solid " [class]="hide?'fa-eye-slash':'fa-eye'"></i></span>
                    </div>
                    <div *ngIf="changePasswordForm.get('oldPassword')?.errors && changePasswordForm.get('oldPassword')?.touched "
                        class="alert alert-danger mb-3 py-0">
                        <p *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']"
                        class="mb-0">old Password is required</p>
                    </div>
            </div>

            <div class="new-pass"> 
                <div class="input-group mb-3 position-relative">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i> </span>
                    <input formControlName="newPassword" [type]="hideConfirm?'password':'text'" class="form-control" placeholder="New Password" >
                    <span (click)="hideConfirm=!hideConfirm" class="eye-icon"><i class="fa-solid " [class]="hideConfirm?'fa-eye-slash':'fa-eye'"></i></span>
                </div>
                <div *ngIf="changePasswordForm.get('newPassword')?.errors && changePasswordForm.get('newPassword')?.touched "
                    class="alert alert-danger mb-3 py-0">
                    <p *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']"
                    class="mb-0">Password is required</p>
                    <p *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']"
                    class="mb-0">Password must have capital,small letters,sympols,number and pass length(8-16) </p>
                </div>
            </div>

            <div class="confirm-new-pass">
                <div class="input-group mb-3 position-relative">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i> </span>
                    <input formControlName="confirmNewPassword" [type]="hideConfirm?'password':'text'" class="form-control" placeholder="Confirm New Password" >
                    <span (click)="hideConfirm=!hideConfirm" class="eye-icon"><i class="fa-solid" [class]="hideConfirm?'fa-eye-slash':'fa-eye'"></i></span>
                </div>
                <div *ngIf="changePasswordForm.get('confirmNewPassword')?.errors && changePasswordForm.get('confirmNewPassword')?.touched "
                    class="alert alert-danger mb-3 py-0">
                    <p *ngIf="changePasswordForm.get('confirmNewPassword')?.errors?.['required']"
                    class="mb-0">Password is required</p>
                    <p *ngIf="changePasswordForm.get('confirmNewPassword')?.errors?.['pattern']"
                    class="mb-0">Password must have capital,small letters,sympols,number and pass length(8-16) </p>
                </div>
            </div>
            
            <button cdkFocusInitial class="btn primary w-100">Change Password</button>
        </form>
    </div>
</section>