<section class="resetPassword d-flex align-items-center ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto ">
                <div class="card-auth ">
                    <div class="text-center">
                        <img class="w-50" src="../../../assets/images/logo.svg">
                    </div>
                    <h2> Reset  Password</h2>
                    <p>Please Enter Your Otp  or Check Your Inbox</p>

                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)">
                        <div class="email">
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-regular fa-envelope"></i></span>
                                <input formControlName="email" type="email" class="form-control" placeholder="Email" >
                            </div>  
                            <div *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched "
                                class="alert alert-danger mb-3 py-0">
                                <p *ngIf="resetForm.get('email')?.errors?.['required']"
                                class="mb-0">Email is required</p>
                                <p *ngIf="resetForm.get('email')?.errors?.['email']"
                                class="mb-0">Email is invalid</p>
                            </div>
                        </div>
                        <div class="seed">
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-lock"></i> </span>
                                <input formControlName="seed" type="text" class="form-control" placeholder="OTP" >
                            </div>
                            <div *ngIf="resetForm.get('seed')?.errors && resetForm.get('seed')?.touched "
                                class="alert alert-danger mb-3 py-0">
                                <p *ngIf="resetForm.get('seed')?.errors?.['required']"
                                class="mb-0">OTP is required</p>
                                <p *ngIf="resetForm.get('seed')?.errors?.['pattern']"
                                class="mb-0">OTP is invalid</p>
                            </div>
                        </div>
                        <div class="pass">
                            <div class="input-group mb-3 position-relative">
                                <span class="input-group-text"><i class="fa-solid fa-lock"></i> </span>
                                <input formControlName="password" [type]="hide?'password':'text'" class="form-control" placeholder="New Password" >
                                <span (click)="hide=!hide" class="eye-icon"><i class="fa-solid " [class]="hide?'fa-eye-slash':'fa-eye'"></i></span>
                            </div>
                            <div *ngIf="resetForm.get('password')?.errors && resetForm.get('password')?.touched "
                                class="alert alert-danger mb-3 py-0">
                                    <p *ngIf="resetForm.get('password')?.errors?.['required']"
                                    class="mb-0">Password is required</p>
                                    <p *ngIf="resetForm.get('password')?.errors?.['pattern']"
                                    class="mb-0">Password must have capital,small letters,sympols,number and pass length(8-16) </p>
                            </div>
                        </div>
                        <div class="confirm-pass">
                            <div class="input-group mb-3 position-relative">
                                <span class="input-group-text"><i class="fa-solid fa-lock"></i> </span>
                                <input formControlName="confirmPassword" [type]="hideConfirm?'password':'text'" class="form-control" placeholder="Confirm New Password" >
                                <span (click)="hideConfirm=!hideConfirm" class="eye-icon"><i class="fa-solid" [class]="hideConfirm?'fa-eye-slash':'fa-eye'"></i></span>
                            </div>
                            <div *ngIf="resetForm.get('confirmPassword')?.errors && resetForm.get('confirmPassword')?.touched "
                                class="alert alert-danger mb-3 py-0">
                                    <p *ngIf="resetForm.get('confirmPassword')?.errors?.['required']"
                                    class="mb-0">confirmPassword is required</p>
                                    <p *ngIf="resetForm.get('confirmPassword')?.errors?.['pattern']"
                                    class="mb-0">confirm Password must have capital,small letters,sympols,number and pass length(8-16) </p>
                            </div>
                        </div>
                        
                        <button [disabled]="resetForm.invalid" class="btn primary w-100">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
      
</section>