<section class="not-found">
<div class="container">
    <div class="row mt-5">
        <div class="col-4">
            <img src="../../../assets/images/404.svg" class="w-100">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4 ">
            <h2>Oops.... </h2>
            <h3 class="main-color">Page  not found </h3>
            <p>This Page doesn’t exist or was removed!
                We suggest you  back to home.</p>
            <button routerLink="/dashboard/home" class="btn primary">Back to home</button>            
        </div>
    </div>
 
</div>
</section>