<section class="page-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-9">
        <div>
          <h3>Categories <span class="fw-light h3">item</span></h3>
          <p>
            You can now add your items that any user can order it from the
            Application and you can edit
          </p>
        </div>
      </div>
      <div class="col-3">
        <div class="text-end">
          <img src="../../../assets/images/catIcon.png" class="w-75" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid py-4">
    <div class="row d-flex justify-content-between">
      <div class="col-8">
        <input
          class="form-control me-2"
          [(ngModel)]="searchValue"
          (keyup)="getTableData()"
          type="text"
          placeholder="Search"
        />
      </div>
      <div class="col-3">
        <button class="btn primary" (click)="openAddDialog()">
          Add New Category
        </button>
      </div>
    </div>
  </div>
  <div>
    <table class="table">
      <thead class="table-active">
        <tr>
          <th>Name</th>
          <th>Creation Date</th>
          <th>Modification Date</th>
          <th class="text-center">delete</th>
          <th class="text-center">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData">
          <td>{{ item.name }}</td>
          <td>{{ item.creationDate | date : "dd-mm--yyyy, hh:mm a" }}</td>
          <td>{{ item.modificationDate | date : "dd-mm--yyyy, hh:mm a" }}</td>
          <td (click)="openDeleteDialog(item)" class="text-center">
            <a><i class="fa-solid fa-calendar-xmark text-danger pointer"></i></a>
          </td>
          <td (click)="openEditCategory(item)" class="text-center">
            <a><i class="fa-solid fa-pen-to-square pointer"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div
    *ngIf="tableData?.length==0"
    class="d-flex justify-content-center align-items-center">
    <div class="w-50 vh-50 text-center">
      <img src="../../../assets/images/delete-img.svg" class="w-50" alt="" />
      <h3>No Data!</h3>
    </div>
  </div>
    <mat-paginator
      #paginator
      (page)="handlePageEvent($event)"
      [length]="tableResponse?.totalNumberOfRecords"
      [pageSize]="tableResponse?.pageSize"
      [pageSizeOptions]="[5, 10, 25, 50]"
      [pageIndex]="tableResponse?.pageNumber"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</section>
