<div class="card-auth">
    <h2>Request Reset  Password</h2>
    <p>Please Enter Your Email And Check Your Inbox</p>
    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-regular fa-envelope"></i></span>
        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" >
    </div>
    <div class="text-end my-2">
        <a (click)="onClose()" routerLink="/auth/reset-password" class="main-color text-decoration-none ">Have Code?</a>
    </div>

    <button [mat-dialog-close]="email" cdkFocusInitial class="btn text-white w-100">Send</button>
</div>