<section class="profile mt-3 rounded bg-info">
  <div class="container py-3">
    <div class="row align-items-center justify-content-evenly">
      <div class="col-8">
        <div>
          <h2 class="fw-bold fs-1">{{ currentUser.userName}}</h2>
        <p class="fs-5">{{ currentUser.country}}</p>
        <p class="fs-5">{{ currentUser.phoneNumber}}</p>
        <p class="fs-5 ">{{ currentUser.email}}</p>  
        </div>
      </div>
      <div class="col-3 profile-image">
        <div class="position-relative">          
          <img
            [src]="'https://upskilling-egypt.com/' + currentUser.imagePath"
            class="w-100 rounded-circle"
          />
          <img
            *ngIf="currentUser.imagePath == null"
            src="../../../assets/images/dummy-avatar-profile.jpg"
            class="w-100 shadow-sm rounded-circle"
          />
        </div>
      </div>
    </div>
  </div>        
</section>
<div class="text-center">
  <button routerLink="/dashboard/profile/edit" class="btn fs-5 px-4 py-2 bg-white m-3 primary">Edit Profile</button>
</div>


 <!-- <section class="">
  <div class="container mt-3">
    <div class="row d-flex justify-content-evenly align-items-center">
      <div class="col-3">
        <div>
          <img
            [src]="'https://upskilling-egypt.com/' + currentUser.imagePath"
            class="w-100 shadow-sm rounded-circle"
          />
          <img
            *ngIf="currentUser.imagePath == null"
            src="../../../assets/images/dummy-avatar-profile.jpg"
            class="w-100 shadow-sm rounded-circle"
          />
        </div>
      </div>
      <div class="col-5">
        <h2 class="main-color fw-bold fs-1">{{ currentUser.userName}}</h2>
        <p class="second-color fs-5">{{ currentUser.country}}</p>
        <p class="second-color fs-5">{{ currentUser.phoneNumber}}</p>
        <p class="second-color fs-5">{{ currentUser.email}}</p>
      </div>
    </div>
  </div>
</section> -->
