.home{
    background-image: url(../../../assets/images/header-bg-svg.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
    color: #fff;
}