<section class="page-header ">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-9 ">
        <div class="third-color">
          <h3>Edit Your <span class="main-color h3"> Profile </span>!</h3>
          <p>you can now edit your profile easily using the form </p> 
          <a class="main-color h6 text-decoration-none mt-2" routerLink="../">
            <span><i class="fa-solid fa-arrow-left-long main-color"></i></span> back</a>
        </div>
      </div>
      <div class="col-3 ">
        <div class="text-end">
          <img src="../../../assets/images/catIcon.png" class="w-75" alt="">
        </div>
      </div>
    </div>
  </div>
  
</section>
<section>
  <div class="container">
    <div class="row mt-3">
      <div class="col-10 mx-auto card-auth">
        <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit(editProfileForm)">
          <div class="row">
            <div class="username col-6">
              <div class="input-group mb-3">
                  <span class="input-group-text"><i class="fa-regular fa-user"></i></span>
                  <input formControlName="userName" type="text" class="form-control" placeholder="userName" >
              </div>
              <div *ngIf="editProfileForm.get('userName')?.errors && editProfileForm.get('userName')?.touched "
              class="alert alert-danger mb-3 py-0">
                <p *ngIf="editProfileForm.get('userName')?.errors?.['required']"
                class="mb-0">userName is required</p>
                <p *ngIf="editProfileForm.get('userName')?.errors?.['pattern']"
                class="mb-0">userName contains letters 3-12 and numbers 1-3</p>
            </div>
            </div>
            <div class="email col-6">
              <div class="input-group mb-3">
                  <span class="input-group-text"><i class="fa-regular fa-envelope"></i></span>
                  <input formControlName="email" type="email" class="form-control" placeholder="Email" >
              </div>
              <div *ngIf="editProfileForm.get('email')?.errors && editProfileForm.get('email')?.touched "
                  class="alert alert-danger mb-3 py-0">
                  <p *ngIf="editProfileForm.get('email')?.errors?.['required']"
                  class="mb-0">Email is required</p>
                  <p *ngIf="editProfileForm.get('email')?.errors?.['email']"
                  class="mb-0">Email is invalid</p>
            </div>
            </div>
            <div class="country col-6">
              <div class="input-group mb-3">
                  <span class="input-group-text"><i class="fa-solid fa-earth-africa"></i></span>
                  <input formControlName="country" type="text" class="form-control" placeholder="country" >
              </div>
              <div *ngIf="editProfileForm.get('country')?.errors && editProfileForm.get('country')?.touched "
              class="alert alert-danger mb-3 py-0">
                <p *ngIf="editProfileForm.get('country')?.errors?.['required']"
                class="mb-0">country is required</p>
            </div>
            </div>
            <div class="phoneNumber col-6">
              <div class="input-group mb-3">
                  <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                  <input formControlName="phoneNumber" type="text" class="form-control" placeholder="phoneNumber" >
              </div>
              <div *ngIf="editProfileForm.get('phoneNumber')?.errors && editProfileForm.get('phoneNumber')?.touched "
              class="alert alert-danger mb-3 py-0">
                <p *ngIf="editProfileForm.get('phoneNumber')?.errors?.['required']"
                  class="mb-0">phoneNumber is required</p>
                <p *ngIf="editProfileForm.get('phoneNumber')?.errors?.['pattern']"
                  class="mb-0">phoneNumber starts with 011/012/015/010 and length 11 number </p>
            </div>
            </div>
            
            <div class="confirmPassword col-12">
              <div class="input-group mb-3 position-relative">
                  <span class="input-group-text"><i class="fa-solid fa-lock"></i> </span>
                  <input formControlName="confirmPassword" [type]="hideConfirm?'password':'text'" class="form-control" placeholder="confirm Password" >
                  <span  (click)="hideConfirm=!hideConfirm" class="eye-icon"><i class="fa-solid" [class]="hideConfirm?'fa-eye-slash':'fa-eye'"></i></span>
              </div>
              <div *ngIf="editProfileForm.get('confirmPassword')?.errors && editProfileForm.get('confirmPassword')?.touched "
                  class="alert alert-danger mb-3 py-0">
                    <p *ngIf="editProfileForm.get('confirmPassword')?.errors?.['required']"
                    class="mb-0">confirmPassword is required</p>
                    <p *ngIf="editProfileForm.get('confirmPassword')?.errors?.['pattern']"
                    class="mb-0">confirm Password must have capital,small letters,sympols,number and pass length(8-16) </p>
              </div>
            </div>
            <div class="profileImage col-12 mx-auto">
              <ngx-dropzone  class="mb-3" (change)="onSelect($event)" [multiple]="false">
                <ngx-dropzone-label *ngIf="!imgSrc">
                    <i class="fa-solid fa-arrow-up-from-bracket d-block fs-3 "></i>
                      Drag & Drop or <span class="main-color">Choose a Profile Image</span> to Upload
                </ngx-dropzone-label>
                <ngx-dropzone-label *ngIf="imgSrc">
                  <img [src]="imgSrc" class="w-25" alt="">
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                    [removable]="true" (removed)="onRemove(f)">
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>
          </div>
            <button  class="btn primary w-100" [disabled]="editProfileForm.invalid">Save</button>            
        </form>
      </div>
    </div>
  </div>
</section>

