<div class="card-auth">
    <h3 class="h4">Request Reset  Password</h3>
    <p>Please Enter Your Email And Check Your Inbox</p>
    <form [formGroup]="verifyForm" (ngSubmit)="onSupmit(verifyForm)">
      <div class="email">
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="fa-regular fa-envelope"></i></span>
            <input formControlName="email" type="email" class="form-control" placeholder="Email" >
        </div>
        <div *ngIf="verifyForm.get('email')?.errors && verifyForm.get('email')?.touched "
              class="alert alert-danger mb-3 py-0">
              <p *ngIf="verifyForm.get('email')?.errors?.['required']"
              class="mb-0">Email is required</p>
              <p *ngIf="verifyForm.get('email')?.errors?.['email']"
              class="mb-0">Email is invalid</p>
        </div>
      </div>
      <div class="code">
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa-regular fa-envelope"></i></span>
          <input formControlName="code" type="text" class="form-control" placeholder="code" >
        </div>
        <div *ngIf="verifyForm.get('code')?.errors && verifyForm.get('code')?.touched "
              class="alert alert-danger mb-3 py-0">
              <p *ngIf="verifyForm.get('code')?.errors?.['required']"
                class="mb-0">code is required</p>
              <p *ngIf="verifyForm.get('code')?.errors?.['pattern']"
                class="mb-0">code is invalid</p>
        </div>
      </div>
      
      <button [disabled]="verifyForm.invalid" class="btn primary w-100">Send</button>
    </form>
  </div>

